@media screen and (max-width:576px) {

    .nav-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    ul li{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 1rem;
    }

    .banner-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 15rem;
        margin-left: 20rem;
        
        
    }

    .second-banner-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    

    
}