*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
   
}

/*nav section start*/


.header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.01); 
    width: 80rem;
    height: 4rem;
    flex-shrink: 0;
    
}

.nav-items{
    display: flex;
    margin-top: 5%;
    
    
}

.nav-logo{
    display: flex;
    margin-left: 9rem;
}

.nav-logo-name{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}


.primary-color{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn{
    
    padding-left: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

ul li{
    
    display: inline-flex;
    
    
    
}

ul li a{
    
    margin-right: 40px;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5rem;
}


/*nav section end*/


/*Banner section start*/



.banner-container{
    display: flex;
    
}




.banner-text{
    background-image: url('images/Group\ 14.png');
    width: 40rem;
    height: 43.75rem;
    flex-shrink: 0;
    margin-left: 0.01rem;
    
}

.banner-title-1{
   color: #0B0223;
   text-align: center;
   font-family: Work Sans;
   font-size: 2.3rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   margin-right: 5rem;
   padding-top: 10rem;

}

.banner-title-2{
   text-align: center;
   font-family: Work Sans;
   font-size: 4.9375rem;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-right: 4.5rem;
   margin-top: 1rem;

}

.banner-list{
   color: #534C64;
   margin-left: 8.5rem;
   font-family: Work Sans;
   font-size: 1rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: lowercase;
   margin-top: 1rem;
   

}

.btn-1{
   color: #FFF;
   font-family: Work Sans;
   font-size: 0.70rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   display: inline-flex;
   padding: 1rem 2rem;
   align-items: flex-start;
   gap: 0.625rem;
   border-radius: 3rem;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   border: none;
   margin-left: 8.5rem;
   margin-top: 2rem;

}

.btn-2{
    color: #FFF;
   font-family: Work Sans;
   font-size: 0.70rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   display: inline-flex;
   padding: 1rem 2rem;
   align-items: flex-start;
   gap: 0.625rem;
   border-radius: 3rem;
   background: #4EC5F7;
   border: none;
   margin-left: .5rem;
}


.banner-img{
   width: 35rem;
   height: 2rem;
   flex-shrink: 0;
   margin-right: 40rem;
   
}





/*Banner section end*/


/*cards section start*/

.cards-header{
    color: #0B0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5rem;
  margin-bottom: 2rem;
 
}

img {
	max-width: 100%; /* Restrict image width to prevent extra space */
	height: auto; /* Maintain aspect ratio */
}

.cards-color-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.cards-description{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */

}

.container{
    width: 1170px;
    margin: 0 auto;
}

.cards-container{
    display: grid ;
    border-radius: 1rem;
    margin-top: 100px;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    
   
       
}

.cards-title{
    /* width: 21.375rem; */
    color: #534C64;
font-family: Work Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 1.875rem; /* 150% */
margin-top: 15px;

}





/*cards section end*/


/*second banner section start*/


.second-banner-container{
    display: flex;
}

.second-banner-text{
    margin-left: 18rem;
    margin-top: 20rem;
}

.second-banner-title{
    font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 3.75rem; /* 125% */

}

.sbt-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.second-banner-description{
    color: #534C64;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */

}

.second-banner-img-container{

    margin-top: 10rem;
    
}

.img-1{
    position: relative;
    margin-left: 12rem;
}

.img-2{
    position: absolute;
    bottom: -102rem;
    right: 24rem;
}



/*second banner section end */




/* Games icon section start */


.games-icon-container{
    margin-top: 20rem;
    
}

.games-icon-1{
    margin-left: 8.5rem;
    margin-bottom: 5rem;
    
    
}

.games-icon-2{
    margin-left: 13rem;
   
}

.btn-icon{
    display: inline-flex;
    padding: 0.40rem 1rem;
    border-radius: 8rem;
    border: none;
    gap: 1rem;
}

.games-icon-title{
   margin-top: 1.5rem;
   
}



/* Games icon section end */




/* footer section start */


.footer-container{
    background-color:#0B0223 ;
    
}

.footer-items{
    margin-top: 10rem;
}

.footer-logo{
    display: flex;
    margin-left: 25rem;
   padding: 5rem ;
    
}

.footer-logo-text{
    font-family: Work Sans;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #FFF;


}



.footer-logo-color{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

ul li{
    color: #FFF;
    margin-right: 3rem;

    
}

.footer-bottom-line{
    color: #FFF;
    margin-left: 26rem;
    
}

.footer-icon{
    margin-left: 33rem;
    margin-bottom: 3rem;
    
}

.footer-words{
    margin-left: 20rem;
    margin-bottom: 3rem;
}






/* footer section end */



